#gameover {
    text-align: center;
    max-width: 600px;
    display: flex;
    flex-direction: column;
  }
  
  #gameover h2
   {
    margin-bottom: 1rem;
  }
  
  #gameover p {
    
    font-weight: 300;
  }
  
  #gameover img {
    margin-top: 2rem;
    height: 400px;
  }

  #gameover button {
    margin-top: 1rem;
  }
  