.option{
    background-color: #3c0e70;
    border-radius: .7rem;
    
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s;
    justify-content: center;

}

.option:hover{
    opacity: 1;
}

#options-container .option p{
    margin-bottom: 0 ;
}

.correct{
    background-color: rgb(150, 245, 7);
    font-weight: bold;
    transition: 1s;
}

.wrong{
    background-color: rgb(165, 4, 4);
    opacity: 0.5;
    transition: 1s;
}